h1{
  text-align: center;
  color: blue;
}
.intro{
  text-align: left;
  color: green;
}
.sidebar{
  color: orange;
  float: left;
  border: 20px red;
  margin: 20px;
}
img{
  float: left;
  border: 15px;
}
