h1{
  text-align: center;
  color: lightblue;
}
h2{
  color: indigo;
  text-align: center;
}
h3{
  color: violet;
}
.intro{
  text-align: left;
  color: green;
}
.sidebar{
  background-color: darkgrey;
  color: white;
  float: left;
  border: 20px red;
  margin: 15px;
  width: 220px
}
img{
  float: left;
  border: 15px;
}
#about{
  font-size: 80%;
  color: black;
  width: 700px;
}
.description{
  float: left;
}
body{
  background-color: grey;
}
.preference{
  color: blue;
}
